*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*POLICE*/

:root{

    /*Couleurs*/

    --black: #000000;
    --white: #ffffff;
    --wheat: #f2f3e8;

}

/******************************BODY******************************/

body > *{
    padding: 0 10vw;
}
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/
/******************************BODY******************************/